{% extends 'base.html' %} {% block title %} Aidan's home page {% endblock%}
{%block body %}
<main class="container">
  <h1>About Aidan</h1>
  <p>
    I am currently a senior at The University of Iowa pursuing a major in
    Business Analytics & Information Systems through The Tippie College of
    Business as well as a Minor in Sports and Recreation Management. I am a
    Dedicated student/employee with excellent communication skills, a natural
    ability to lead, and a strong ability to think critically & problem-solve. I
    am seeking opportunities that align with my education and passions. I am
    excited to connect and communicate with like-minded professionals and
    discuss potential employment opportunities.
  </p>
</main>
{% endblock %}
